<template>
  <div class="dropzone-wrapper">
    <h2><b-icon icon="folder-plus"></b-icon> UPLOADER</h2>
    <b-container fluid id="dropzone" class="dropzone-area container-fluid border rounded-lg">
      <div class="icon-bg">
        <b-icon icon="folder-plus" class="icon"></b-icon>
      </div>
      <!-- Dropzone Area -->
      <div v-if="dropzoneManager">
        <!-- Dropzone에 등록된 파일에 의존하는 컴포넌트.
					 파일<->서버정보객체와의 싱크를 맞춰가며 사용자에게 정보를 보여준다.   -->
        <UploadTargetFile
          v-for="file in dropzoneManager.files"
          :file="file"
          :batchUpdateResult="batchUpdateResultList[file.upload.uuid]"
          @processFile="processFile"
          @removeFile="removeFile"
          :key="file.upload.uuid"
          class="mb-3 mt-3"
        ></UploadTargetFile>
      </div>
    </b-container>
  </div>
</template>

<script>
import UploadTargetFile from '@/components/UploadTargetFile';
import md5 from 'md5';
import Stomp from 'webstomp-client';
import SockJS from 'sockjs-client';
import Dropzone from 'dropzone';

// API
import { uploadFileCheck, putBatchData } from '@/api/index';

export default {
  name: 'uploader',
  data() {
    return {
      // 업로드된 파일의 배치 진행상태를 가지고있는 객체
      batchUpdateResultList: {
        /*
					failCount:0,
					failRowNumbers:"[]",
					fileHashValue:"",
					filePath:"",
					lastedInsertRawData:"",
					lastedStatusMessage:"",
					lastedUpdateDate:"",
					seq:15,
					status:"FAIL",
					successCount:0,
					totalCount:55554,
				*/
      },

      // 웹소켓 STOMP 프로토콜 관련 프로퍼티
      stompClient: null,
      stompMapping: {
        endpoint: 'http://localhost:9090/websocket',
        requestBatchUpdateStatus: '/request/batchUpdateStatus',
        responseBatchUpdateStatus: '/response/queue/batchUpdateStatus',
      },
      stompBatchUpdate: {
        sendInterval: 100, // 배치 업데이트 정보요청 시간 간격
        inProgress: {}, // 현재 진행중인 배치 업데이트 파일목록 (진행중:true)
      },

      // dropzone 라이브러리
      dropzoneManager: null,
      dropzoneInfo: {
        wrapper: '#dropzone',
        options: {
          url: '/api/upload/file', // 파일 업로드 API URL
          method: 'POST',
          acceptedFiles: 'text/csv',
          disablePreviews: true,
          autoProcessQueue: false,
          timeout: 30000,
        },
      },
    };
  },
  created() {
    // 가장 먼저 웹소켓 접속시도
    this.connectWebsocket();
  },
  mounted() {
    // DOM 렌더링 후 Dropzone도 렌더링 하자
    // dropzone rendering and eventBinding
    this.renderDropzone()
      .on('addedfile', this.dropzoneEventAddedFile)
      .on('sending', this.dropzoneEventSending)
      .on('uploadprogress', this.dropzoneEventUploadProgress)
      .on('success', this.dropzoneEventSuccess)
      .on('error', this.dropzoneEventError);
  },
  methods: {
    // 파일 선택시 바이너리로 읽은 후 전달하는 함수
    // =>파일내용을 MD5로 암호화하여 사용하기 위함이다.
    getFileArrayBuffer(file) {
      return new Promise(function(resolve, reject) {
        var reader = new FileReader();
        reader.onloadend = function(e) {
          resolve(e.target.result);
        };
        reader.onerror = function(e) {
          reject(e.target.error);
        };
        reader.readAsBinaryString(file);
      });
    },
    // 웹소켓 -STOMP 로 연결을 시도한다.
    connectWebsocket() {
      let socket = new SockJS(this.stompMapping.endpoint);
      this.stompClient = Stomp.over(socket);

      // 연결 시도
      this.stompClient.connect(
        {},
        () => {
          // 성공시 배치상태공유 채널 구독
          this.stompClient.subscribe(
            this.stompMapping.responseBatchUpdateStatus,
            data => {
              // 파일 업로드 후 채널에 계속 요청을 할것이고,
              // 그 요청에 대한 응답으로 현재 Data Insert 상태를 내려준다.
              // 그리고 그 Insert상태를 계속 Vue Component에 업데이트 해주면서
              // 프로그레스 바 등 최신 상태를 유지한다.
              let batchResult = JSON.parse(data.body);
              let hashValue = batchResult.hashValue;
              let file = this.dropzoneManager.files.filter(v => v._hashValue === hashValue);
              if (file.length > 0) this.updateFileDataFromBatch(file[0], batchResult);
            },
            error => {
              console.error(error);
            },
          );
        },
        error => {
          console.error(error);
        },
      );
    },
    // 데이터 insert 상태를 시작/종료한다 - 연결된 웹소켓 으로 요청하자.
    insertBatchDataStatus(file, command) {
      let hashValue = file._hashValue;
      switch (command) {
        case 'start':
          // 배치업데이트 시작.
          this.stompBatchUpdate.inProgress[hashValue] = true;
          this.requestBatchUpdateInfo(hashValue);
          break;
        case 'stop':
          // 배치 업데이트 종료
          this.stompBatchUpdate.inProgress[hashValue] = false;
          break;

        default:
          break;
      }
    },
    /** 배치 업데이트 정보 요청 - 연결된 웹소켓 으로 요청하자. */
    requestBatchUpdateInfo(hashValue) {
      let body = '';
      let header = { hashValue: hashValue };
      // 배치(데이터 Insert)상태를 응답해주는 채널에 정보요청
      let interval = setInterval(() => {
        this.stompClient.send(this.stompMapping.requestBatchUpdateStatus, body, header);
        // 배치 업데이트(데이터 Insert)가 종료되면 요청보내는것도 멈춘다.
        if (!this.stompBatchUpdate.inProgress[hashValue]) clearInterval(interval);
      }, this.stompBatchUpdate.sendInterval);
    },

    // 브라우저(Dropzone)에 올라가있는 file과, 서버에서 DB작업하고있는 내용을 매핑시키는 함수
    // 이 함수가 호출되어야 하위 컴포넌트에 정확한 데이터가 전달된다.
    updateFileDataFromBatch(file, data) {
      this.$set(this.batchUpdateResultList, file.upload.uuid, data);
    },

    /** * dropzone initialized. */
    renderDropzone() {
      this.dropzoneManager = new Dropzone(this.dropzoneInfo.wrapper, this.dropzoneInfo.options);
      // this.dropzoneManager = new Dropzone(document.body, this.dropzoneInfo.options);

      return this.dropzoneManager;
    },

    /** Dropzone Event: "addedfile"  */
    dropzoneEventAddedFile(file) {
      // 이벤트 대상 드랍존객체를 변수로 선언해놓고 사용하자.
      let currentDropZoneManager = this.dropzoneManager;

      // 파일 타입 체크
      if (file.type !== 'text/csv') {
        alert('CSV 파일만 업로드 가능합니다.');
        currentDropZoneManager.removeFile(file);
        return;
      }

      // 파일 추가 비즈니스로직 시작

      (async () => {
        try {
          // 최초 파일 등록시 MD5로 해싱값을 저장한다.
          let buf = await this.getFileArrayBuffer(file);
          let hashValue = md5(buf);
          file._hashValue = hashValue;

          let { data } = await uploadFileCheck(hashValue);

          // 파일별 배치결과 업데이트 => 그래야 하위컴포넌트가 업데이트된다.
          this.updateFileDataFromBatch(file, data.body);
          // 오류없이 종료
        } catch (e) {
          /** 오류처리  */
          console.error(e);
          //아예 파일 목록에서 제거 후 alert처리
          currentDropZoneManager.removeFile(file);
          if (e.response && e.response.data) {
            if (e.response.data.message) {
              alert(e.response.data.message);
            } else {
              alert(e.response.data);
            }
          } else {
            alert(e);
          }
        }
      })();
    },

    /** Dropzone Event: "sending"  */
    dropzoneEventSending(file, xhr, formData) {
      // 파일 업로드시 파라미터를 추가한다 - 파일별 고유 해시값
      formData.append('hashValue', file._hashValue);
    },
    /** Dropzone Event: "uploadprogress"  */
    dropzoneEventUploadProgress(file, progress) {
      // 프로그레스이벤트를 통해
      // 배치업데이트정보 객체에 프로그레스 정보를 넘겨 하위컴포넌트에 전달한다.
      let data = this.batchUpdateResultList[file.upload.uuid];
      this.$set(data, 'uploadProgress', progress);
      this.updateFileDataFromBatch(file, data);
    },
    /** Dropzone Event: "success"  */
    async dropzoneEventSuccess(file) {
      // 파일 업로드가 성공했다면, 이제 insert batch query를 돌리는 API요청을 하자.

      // // 실시간 디비 인서트 내용을 캐치하기위해 통신을 시작한다.
      this.insertBatchDataStatus(file, 'start');

      try {
        // Batch Data Insert
        let { data } = await putBatchData(file._hashValue);

        // Batch Insert작업이 끝난 뒤 새롭게 정보 업데이트
        this.updateFileDataFromBatch(file, data.body);
      } catch (e) {
        let message = '';
        if (e.response && e.response.data) {
          if (e.response.data.message) {
            message = e.response.data.message;
          } else {
            message = e.response.data;
          }
        } else {
          message = e;
        }
        // Batch Insert작업시 오류가 났다면 오류로 업데이트
        let batchResult = this.batchUpdateResultList[file.upload.uuid];
        this.$set(batchResult, 'status', 'fail');
        this.$set(batchResult, 'errorMessage', message);
        this.updateFileDataFromBatch(file, batchResult);
        console.error(e);
      } finally {
        // // 디비 작업이 끝난 뒤 소켓통신을 멈춘다.
        this.insertBatchDataStatus(file, 'stop');
      }
    },

    /** Dropzone Event: "error"  */
    dropzoneEventError(file, e) {
      // dropzone 파일업로드 에러 핸들러
      let message = '';
      if (e.message) {
        message = e.message;
      } else {
        message = e;
      }
      console.error(e);
      let batchResult = this.batchUpdateResultList[file.upload.uuid];
      this.$set(batchResult, 'errorMessage', message);
      this.updateFileDataFromBatch(file, batchResult);
    },

    removeFile(file) {
      this.dropzoneManager.removeFile(file);
    },
    processFile(file) {
      this.dropzoneManager.processFile(file);
    },
  },

  beforeDestroy() {
    this.stompClient.disconnect();
  },
  destroyed() {},

  components: {
    UploadTargetFile,
  },
};
</script>

<style>
h2 {
  color: #555555;
}
.dropzone-wrapper {
  padding: 5%;
}
.dropzone-area {
  min-height: 200px;
  position: relative;
  background: #f9f9f9;
}
.dropzone-area > .icon-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
}

.dropzone-area > .icon-bg > .icon {
  width: 50px;
  height: 50px;
  color: #dee2e6;
}
</style>
