<template>
  <div v-if="batchUpdateResult">
    <b-card :title="`${file.name} (${fileSize})`" :subTitle="fileSize" shadow>
      <!-- Progress / Action -->
      <b-row>
        <b-col cols="9">
          <b-progress animated height="1.5rem" v-if="file.status === 'success' || batchUpdateResult.uploadProgress">
            <b-progress-bar :value="file.status === 'success' ? 100 : batchUpdateResult.uploadProgress">
              <span>Upload: {{ file.status === 'success' ? 100 : batchUpdateResult.uploadProgress.toFixed(2) }}%</span>
            </b-progress-bar>
          </b-progress>
          <div v-if="batchUpdateResult.totalCount">
            <b-progress class="mt-1" :max="batchUpdateResult.totalCount" height="1.5rem" show-value>
              <b-progress-bar
                :value="batchUpdateResult.successCount"
                variant="success"
                show-progress
                :precision="2"
              ></b-progress-bar>
              <b-progress-bar
                :value="batchUpdateResult.totalCount - batchUpdateResult.successCount"
                variant="danger"
                show-progress
                :precision="2"
              ></b-progress-bar>
              <b-progress-bar
                :value="batchUpdateResult.failCount"
                variant="warning"
                show-progress
                :precision="2"
              ></b-progress-bar>
            </b-progress>
          </div>
        </b-col>
        <b-col cols="3" class="text-center">
          <b-button variant="success" :disabled="disableUpload" @click="processFile(file)" class="mr-2"
            >Upload</b-button
          >
          <b-button variant="danger" @click="removeFile(file)">Remove</b-button>
          <b-button-group> </b-button-group>
        </b-col>
      </b-row>

      <!-- Batch Result Info -->
      <!-- 배치 업데이트 후 처리결과 확인  -->
      <b-row class="mt-2" v-if="file.status === 'success' && batchUpdateResult.end">
        <b-col>
          <b-list-group horizontal="md" class="d-flex ">
            <b-list-group-item class="flex-fill"
              >전체건수
              <b-badge variant="primary" class="float-right" pill>{{
                batchUpdateResult.totalCount ? batchUpdateResult.totalCount.toLocaleString() : 0
              }}</b-badge>
            </b-list-group-item>
            <b-list-group-item class="flex-fill"
              >성공건수
              <b-badge variant="success" pill class="float-right">{{
                batchUpdateResult.successCount ? batchUpdateResult.successCount.toLocaleString() : 0
              }}</b-badge>
            </b-list-group-item>
            <b-list-group-item class="flex-fill"
              >미처리건수(오류포함)
              <b-badge variant="danger" pill class="float-right">{{ notProcessed }}</b-badge>
            </b-list-group-item>
            <b-list-group-item class="flex-fill"
              >오류건수
              <b-badge variant="warning" pill class="float-right">{{
                batchUpdateResult.failCount ? batchUpdateResult.failCount.toLocaleString() : 0
              }}</b-badge>
            </b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>

      <!-- Message -->
      <!-- 파일 업로드 후 데이터 처리 결과 안내 메시지  -->
      <b-alert
        v-if="file.status === 'success' && batchUpdateResult.end"
        :variant="batchUpdateResult.status === 'SUCCESS' ? 'success' : 'danger'"
        show
        class="mt-1"
      >
        {{
          batchUpdateResult.status === 'SUCCESS'
            ? '정상적으로 처리 되었습니다.'
            : '데이터 처리중 오류가 발견되었습니다.'
        }}
      </b-alert>

      <!-- 에러메시지 호출시 노출  -->
      <b-alert v-if="batchUpdateResult.errorMessage" show variant="danger" class="mt-1">
        {{ batchUpdateResult.errorMessage }}
      </b-alert>

      <!-- 성공여부와 상관없이 마지막 입력된 데이터 있는경우 노출  -->
      <b-alert v-if="batchUpdateResult.lastedInsertRawData" show variant="info" class="mt-1">
        마지막으로 입력된 데이터 :
        {{ batchUpdateResult.lastedInsertRawData }}
      </b-alert>
      <b-alert v-if="batchUpdateResult.failRowNumbers.length > 0" show variant="info" class="mt-1">
        오류데이터 라인번호(최대5개) :
        {{ batchUpdateResult.failRowNumbers }}
      </b-alert>
    </b-card>
  </div>
</template>

<script>
export default {
  props: ['file', 'batchUpdateResult'],
  data() {
    return {
      filesizeBase: 1000,
      fileSizeUnits: { tb: 'TB', gb: 'GB', mb: 'MB', kb: 'KB', b: 'b' },
    };
  },
  computed: {
    notProcessed() {
      let total = this.batchUpdateResult.totalCount ? this.batchUpdateResult.totalCount : 0;
      let success = this.batchUpdateResult.successCount ? this.batchUpdateResult.successCount : 0;
      return (total - success).toLocaleString();
    },
    uploadComplated() {
      return this.file.status === 'success' && this.batchUpdateResult.end;
    },
    hasErrorLine() {
      try {
        let errorLine = JSON.parse(this.batchUpdateResult.failRowNumbers);
        return errorLine.length > 0;
      } catch (e) {
        return false;
      }
    },
    disableUpload() {
      return (
        (this.file.status === 'queued' && this.batchUpdateResult && this.batchUpdateResult.status === 'FAIL') ||
        this.file.status !== 'queued'
      );
    },
    fileSize() {
      let selectedSize = 0;
      let selectedUnit = 'b';
      let size = this.file.upload.total;
      if (size > 0) {
        let units = ['tb', 'gb', 'mb', 'kb', 'b'];

        for (let i = 0; i < units.length; i++) {
          let unit = units[i];
          let cutoff = Math.pow(this.filesizeBase, 4 - i) / 10;

          if (size >= cutoff) {
            selectedSize = size / Math.pow(this.filesizeBase, 4 - i);
            selectedUnit = unit;
            break;
          }
        }

        selectedSize = Math.round(10 * selectedSize) / 10; // Cutting of digits
      }

      return `${selectedSize} ${this.fileSizeUnits[selectedUnit]}`;
    },
  },
  created() {},
  mounted() {},
  methods: {
    processFile(file) {
      this.$emit('processFile', file);
    },
    removeFile(file) {
      this.$emit('removeFile', file);
    },
  },
};
</script>

<style></style>
