<template>
  <div id="app">
    <Uploader></Uploader>
  </div>
</template>

<script>
import Uploader from '@/components/Uploader';

export default {
  name: 'App',
  components: {
    Uploader,
  },
};
</script>

<style></style>
